$font-stack: Arial, sans-serif;

/**
 *  color's variables
 **/
$color-green:#569d50;
$color-green-hover:#51ab4a;
$color-green-active:#3a8434;


$color-blue:#3579ba;
$color-blue-hover:#4f95d8;
$color-blue-active:#3d6d9a;

$color-purple: #621945;