@import "mixins/variables";
@import "mixins/_mixins";
@import "langing/bootstrap/bootstrap-theme.min";
@import "langing/bootstrap/bootstrap.min";
@import "langing/main";

*{
 padding:0;
 margin:0;
 font-family: $font-stack;
 font-size: 16px;

}

html,body {
 width:100%;
 height:100%;
 box-sizing: border-box;
 padding:1px;
}

.container-wrapper{
  width:100%;
  height:100%;
}


.btn {
  border: none;
  background: #e1e1e1;
  font-size: 12px;
  padding: 10px;
  color: #fff;
}
.form-group {
  margin-bottom: 0;
}