<html>
<head>
    <title>isok</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
    <meta charset="utf-8">

    {% javascripts '@StaticBundle/Resources/public/js/*'  output='js/compiled/main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets '@StaticBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {#<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">#}
    {#<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />#}
    {#<script src="/libs/jquery.min.js"></script>#}

</head>

<body>

    <div class="container-wrapper">

        <div class="main-wrapper">
            <div class="header-wrapper">
                <div class="logo-wrapper">
                    logo
                </div>

                <div class="search-wrapper form-group">

                    <input type="text" class="form-control"  placeholder="Введите название ресторана">

                </div>

                <div class="switchers-wrapper">
                    <button class="btn btn-primary" type="button">Для ресторанов</button>
                    <button class="btn btn-success" type="button">Для клиентов</button>
                </div>

            </div>


            <div class="menu-wrapper">

            </div>

        </div>


    </div>

</body>
</html>
    {% javascripts '@StaticBundle/Resources/public/js/*'  output='js/compiled/main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets '@StaticBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {#<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">#}
    {#<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />#}
    {#<script src="/libs/jquery.min.js"></script>#}

</head>

<body>

    <div class="container-wrapper">

        <div class="main-wrapper">
            <div class="header-wrapper">
                <div class="logo-wrapper">
                    logo
                </div>

                <div class="search-wrapper form-group">

                    <input type="text" class="form-control"  placeholder="Введите название ресторана">

                </div>

                <div class="switchers-wrapper">
                    <button class="btn btn-primary" type="button">Для ресторанов</button>
                    <button class="btn btn-success" type="button">Для клиентов</button>
                </div>

            </div>


            <div class="menu-wrapper">

            </div>

        </div>


    </div>


    <!-- Start SiteHeart code -->
    <script>
        (function(){
            var widget_id = 877095;
            _shcp =[{widget_id : widget_id}];
            var lang =(navigator.language || navigator.systemLanguage
            || navigator.userLanguage ||"en")
                    .substr(0,2).toLowerCase();
            var url ="widget.siteheart.com/widget/sh/"+ widget_id +"/"+ lang +"/widget.js";
            var hcc = document.createElement("script");
            hcc.type ="text/javascript";
            hcc.async =true;
            hcc.src =("https:"== document.location.protocol ?"https":"http")
                    +"://"+ url;
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hcc, s.nextSibling);
        })();
    </script>
    <!-- End SiteHeart code -->

</body>
</html>