<html>
<head>
    <title>isok</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
    <meta charset="utf-8">

    {% javascripts '@StaticBundle/Resources/public/js/*'  output='js/compiled/main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets '@StaticBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {#<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">#}
    {#<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />#}
    {#<script src="/libs/jquery.min.js"></script>#}

</head>

<body>

    <p class="test">kostya</p>



</body>
</html>