.main-wrapper {
  width:1000px;
  margin:auto;
  min-height: calc(100% - 60px);
}

.logo-wrapper {
  img {
    width: 100px;
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-purple;


  .search-wrapper {
    width: 300px;
    margin-top: 8px;
    .form-control {
      width: 100%;
    }
  }



  .switchers-wrapper{
    font-size: 0;
    .btn {
      width: 110px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    .btn-primary {
      border: none;
      background: $color-green;
      font-size: 12px;
      padding: 10px;
      color: #fff;
      border-radius: 5px 0 0 5px;
      &:hover{
        background: $color-green-hover;
      }
      &:active{
        background: $color-green-active;
      }
      &.active {
        background: $color-green-active;
      }
    }
    .btn-success {
      border: none;
      background: $color-blue;
      font-size: 12px;
      padding: 10px;
      color: #fff;
      border-radius: 0 5px 5px 0;
      &:hover{
        background: $color-blue-hover;
      }
      &.active {
        background: $color-blue-active;
      }
      &:active{
        background: $color-blue-active;
      }
    }
  }
}

.main-content {
  min-height: 300px;

}


.video-wrapper {
  width:100%;
  height:534px;;
  background: #d9d9d9;
  text-align: center ;
}




.footer-wrapper {
  height: 60px;
  border-top:1px solid red;
  width:1000px;
  margin: auto;


}